<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cumt.chiduoduo.dao.DomitoryStockManagementMapper" >
  <resultMap id="BaseResultMap" type="com.cumt.chiduoduo.model.DomitoryStockManagement" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="domitoryNo" property="domitoryno" jdbcType="VARCHAR" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="category_id" property="categoryId" jdbcType="INTEGER" />
    <result column="categoty_name" property="categotyName" jdbcType="VARCHAR" />
    <result column="add_number" property="addNumber" jdbcType="INTEGER" />
    <result column="admin_id" property="adminId" jdbcType="INTEGER" />
    <result column="admin_name" property="adminName" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, domitoryNo, product_id, product_name, category_id, categoty_name, add_number, 
    admin_id, admin_name, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from domitory_stock_management
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from domitory_stock_management
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cumt.chiduoduo.model.DomitoryStockManagement" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into domitory_stock_management (domitoryNo, product_id, product_name, 
      category_id, categoty_name, add_number, 
      admin_id, admin_name, update_time
      )
    values (#{domitoryno,jdbcType=VARCHAR}, #{productId,jdbcType=INTEGER}, #{productName,jdbcType=VARCHAR}, 
      #{categoryId,jdbcType=INTEGER}, #{categotyName,jdbcType=VARCHAR}, #{addNumber,jdbcType=INTEGER}, 
      #{adminId,jdbcType=INTEGER}, #{adminName,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cumt.chiduoduo.model.DomitoryStockManagement" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into domitory_stock_management
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="domitoryno != null" >
        domitoryNo,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="productName != null" >
        product_name,
      </if>
      <if test="categoryId != null" >
        category_id,
      </if>
      <if test="categotyName != null" >
        categoty_name,
      </if>
      <if test="addNumber != null" >
        add_number,
      </if>
      <if test="adminId != null" >
        admin_id,
      </if>
      <if test="adminName != null" >
        admin_name,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="domitoryno != null" >
        #{domitoryno,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="categotyName != null" >
        #{categotyName,jdbcType=VARCHAR},
      </if>
      <if test="addNumber != null" >
        #{addNumber,jdbcType=INTEGER},
      </if>
      <if test="adminId != null" >
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="adminName != null" >
        #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cumt.chiduoduo.model.DomitoryStockManagement" >
    update domitory_stock_management
    <set >
      <if test="domitoryno != null" >
        domitoryNo = #{domitoryno,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="productName != null" >
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null" >
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="categotyName != null" >
        categoty_name = #{categotyName,jdbcType=VARCHAR},
      </if>
      <if test="addNumber != null" >
        add_number = #{addNumber,jdbcType=INTEGER},
      </if>
      <if test="adminId != null" >
        admin_id = #{adminId,jdbcType=INTEGER},
      </if>
      <if test="adminName != null" >
        admin_name = #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cumt.chiduoduo.model.DomitoryStockManagement" >
    update domitory_stock_management
    set domitoryNo = #{domitoryno,jdbcType=VARCHAR},
      product_id = #{productId,jdbcType=INTEGER},
      product_name = #{productName,jdbcType=VARCHAR},
      category_id = #{categoryId,jdbcType=INTEGER},
      categoty_name = #{categotyName,jdbcType=VARCHAR},
      add_number = #{addNumber,jdbcType=INTEGER},
      admin_id = #{adminId,jdbcType=INTEGER},
      admin_name = #{adminName,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>