<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cumt.chiduoduo.dao.DomitoryStockMapper" >
  <resultMap id="BaseResultMap" type="com.cumt.chiduoduo.model.DomitoryStock" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="domitory_id" property="domitoryId" jdbcType="INTEGER" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="domitory_stock" property="domitoryStock" jdbcType="INTEGER" />
    <result column="category_id" property="categoryId" jdbcType="INTEGER" />
    <result column="category_name" property="categoryName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, domitory_id, product_id, product_name, domitory_stock, category_id, category_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from domitory_stock
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from domitory_stock
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cumt.chiduoduo.model.DomitoryStock" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into domitory_stock (domitory_id, product_id, product_name, 
      domitory_stock, category_id, category_name
      )
    values (#{domitoryId,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, #{productName,jdbcType=VARCHAR}, 
      #{domitoryStock,jdbcType=INTEGER}, #{categoryId,jdbcType=INTEGER}, #{categoryName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cumt.chiduoduo.model.DomitoryStock" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into domitory_stock
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="domitoryId != null" >
        domitory_id,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="productName != null" >
        product_name,
      </if>
      <if test="domitoryStock != null" >
        domitory_stock,
      </if>
      <if test="categoryId != null" >
        category_id,
      </if>
      <if test="categoryName != null" >
        category_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="domitoryId != null" >
        #{domitoryId,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="domitoryStock != null" >
        #{domitoryStock,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="categoryName != null" >
        #{categoryName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cumt.chiduoduo.model.DomitoryStock" >
    update domitory_stock
    <set >
      <if test="domitoryId != null" >
        domitory_id = #{domitoryId,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="productName != null" >
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="domitoryStock != null" >
        domitory_stock = #{domitoryStock,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null" >
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="categoryName != null" >
        category_name = #{categoryName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cumt.chiduoduo.model.DomitoryStock" >
    update domitory_stock
    set domitory_id = #{domitoryId,jdbcType=INTEGER},
      product_id = #{productId,jdbcType=INTEGER},
      product_name = #{productName,jdbcType=VARCHAR},
      domitory_stock = #{domitoryStock,jdbcType=INTEGER},
      category_id = #{categoryId,jdbcType=INTEGER},
      category_name = #{categoryName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <delete id="deleteByProductId" parameterType="java.lang.Integer" >
    delete from domitory_stock
    where product_id = #{productId,jdbcType=INTEGER}
  </delete>
  <select id="selectByDomitoryId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from domitory_stock
    where domitory_id = #{domitoryId,jdbcType=INTEGER}
  </select>
  <select id="selectByProductId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from domitory_stock
    where product_id = #{productId,jdbcType=INTEGER}
  </select>
</mapper>
